extends layout

block content
    h1=title

    if(toShow == null)
        h2 No instance to delete
    else
        - let fossilid = toShow._id
        - let era = toShow.era
        - let species = toShow.species
        - let age = toShow.age
        - let actionid = "/resource/fossils/" + fossilId
        script let actionid = "#{actionid}"

        div
            div.row
                div(class='fossilAttr mr-3') Fossil ID is:
                div #{fossilid}
            div.row
                div(class='fossilAttr mr-3') Fossil era is:
                div #{era}
            div.row
                div(class='fossilAttr mr-3') Fossil species are:
                div #{species}
            div.row
                div(class='fossilAttr mr-3') Fossil age is:
                div #{age}

        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script. 
        function cancel(){
            window.location.href='/fossil'
        }
    script. 
        function deleteOnid(){
            console.log("starting delete")
            fetch(actionid, {
                method:'DELETE'
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }
